:root {
  --primary-color: #5015BD;
  --lighter-shade: #7B4AD9;
  --darker-shade: #340E84;
  --contrasting-color: #FFA500;
  --neutral-gray: #888888;
}

body {
  background: #ffffff;
  color: #fafafa;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--contrasting-color);
  font-family: 'Poppins', sans-serif;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.btn-outline-info {
    color: var(--contrasting-color);
    border-color: var(--contrasting-color);
}

.btn-outline-info:hover {
    color: #fff;  /* Change to the desired text color on hover */
    background-color: var(--contrasting-color);
    border-color: var(--contrasting-color);
}

.content-section {
  background: #000000;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

table {
    border-collapse: collapse; /* Ensures that the borders are neat */
    width: 80%; /* Adjust as needed */
    margin: 20px auto; /* Center the table with some space around it */
    background-color: #2a2a2a; /* Slightly lighter than the page background */
}

/* Table header styles */
th {
    background-color: #333; /* Dark background for header */
    color: #fff; /* White text color */
    text-align: left; /* Align text to the left */
    padding: 12px 15px; /* Padding for aesthetic spacing */
}

/* Table body styles */
td {
    border: 1px solid #fff; /* White borders for each cell */
    padding: 10px 15px; /* Padding for cells */
    color: #ddd; /* Light grey color for the text */
}

/* Row styling for hover effect */
tr:hover {
    background-color: #444; /* Slightly lighter when hovered */
}

.dropdown-content {
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
}

.dropdown-content p {
    margin: 0;
}