{% extends "layout.html" %}
{% block content %}
    <body>
    <header>
        <h1>Student Learning Resources</h1>
    </header>

    <main>
        <section id="subject-information">
            <h2>Subject Information</h2>
            <li><a href="https://drive.google.com/file/d/1RhFrVVC47QQjdUn6Gkkyy0lupSZnph-k/view?usp=sharing" target="_blank">Subject Syllabus</a></li>
            <li><a href="https://drive.google.com/file/d/1WN172fM6PpdZVA8GrIaKysK6R60hvJim/view?usp=sharing" target="_blank">Guide to IB Economics</a></li>
            <li><a href="https://drive.google.com/file/d/1pDPS6BBz5U1lP4wrmrvErIoX2xCzBTx9/view?usp=sharing" target="_blank">Economics Competition Information</a></li>

        </section>
        <section id="textbooks">
            <h2>Textbooks</h2>
            <!-- List your PDF resources here -->
            <li><a href="https://drive.google.com/file/d/1l9PjX_w_-JhabOPPbT3Y2TXKntl3IzFc/view?usp=sharing" target="_blank">Cambridge Textbook</a></li>
            <li><a href="https://drive.google.com/file/d/1iZ3TzRYUy_eUv6wa-kWv_O6ylOHRE-B4/view?usp=sharing" target="_blank">Oxford Textbook</a></li>
        </section>
        <section id="ee-exemplars">
            <h2>Other Resources</h2>
            <!-- List your links here -->
            <li><a href="https://drive.google.com/drive/folders/104Fhv0WJ-2zBPt-hO5ADTMs9FAZ-7EYD?usp=sharing">EE Exemplars and Reports</a></li>
            <!-- Add more as needed -->
        </section>
    </main>

    <footer>
        <p>© 2023 Benson AI Checkmate. All rights reserved.</p>
    </footer>
</body>
{% endblock content %}